// Setting up font
body {
  display: flex;
  flex-direction: column;
  font-family: Aller;
  font-size: 14px;
}

// Setting up buttons for future use, resetting the default styles
button {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  color: $gray;
  border: 0;
}

// Setting up container globally

.container {
  display: flex;
  width: 60%;
}

// HEADER SECTION (part of it has common parts with nav on line 103)
header {
  background-color: $black;

  .logo {
    padding: 0;
  }
  //Page Logo
  h1 {
    color: $primary;
    align-self: center;
    font-size: 200%;
  }

  //Header right menu ( Search and Login)
  ul {
    display: flex;

    li {
      display: flex;
      align-items: center;
      border-right: 1px solid $dark-gray;
      transition: 0.3s;
    }

    li:first-child {
      border-left: 1px solid $dark-gray;
    }

    li:hover {
      background-color: $dark-gray;
    }

    button,
    a {
      display: flex;
      align-items: center;
      color: $gray;
      padding: 15px 20px;
    }

    input {
      height: 100%;
      margin-left: 5px;
      color: $gray;
      width: 100px;
      margin-right: 0px;
      background-color: transparent;
      border: 0;
      transition: 0.3s;
    }
  }

  .title {
    li {
      border: 0;
    }

    li:first-child {
      border: 0;
    }
  }
}

// ^^ HEADER SECTIONS

// NAV SECTION (part of it has common parts with nav on line 103)

nav {
  background-color: $white;

  ul {
    display: flex;

    li {
      display: flex;
      align-items: center;
      border-right: 1px solid $gray;
      transition: 0.3s;
    }

    li:first-child {
      border-left: 1px solid $gray;
    }

    li:hover {
      background-color: darken(white, 5);
    }

    button,
    a {
      display: flex;
      align-items: center;
      color: $gray;
      padding: 15px 20px;
    }
  }

  .right {
    li:hover {
      .notification {
        transition: 0.3s;
        background-color: $primary;
      }
    }
  }
}

// ^^ NAV SECTION

// Header and Nav common section
header,
nav {
  display: flex;
  justify-content: center;

  .container {
    ul {
      display: flex;

      //Notification number box
      .notification {
        color: $white;
        background-color: $gray;
        margin-left: 10px;
        padding: 5px;
        border-radius: 5px;
      }

      //Notification active color
      .active {
        background-color: $primary;
      }
    }

    .display-on-mobile {
      display: none;
    }

    .right {
      margin-left: auto;
    }
  }
}

// Slider

.slider {
  background-color: $secondary;

  .slider-options {
    display: flex;
    background-color: $dark-gray;
    justify-content: center;

    .container {
      ul {
        display: flex;
        width: 100%;
        justify-content: center;

        li {
          cursor: pointer;
          border-top: 6px solid $black;
          color: gray;
          padding: 10px;
          width: 20%;
          margin-top: 10px;
          margin-bottom: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;

          h3 {
            text-align: center;
            margin-bottom: 10px;
            color: lighten(gray, 10);
          }

          p {
            text-align: center;
          }
        }

        li:hover {
          border-top: 6px solid lighten($black, 3);

          h3 {
            color: lighten(gray, 20);
          }

          p {
            color: lighten(gray, 10);
          }
        }

        .active {
          border-top: 6px solid $primary;

          h3 {
            color: lighten(gray, 20);
          }

          p {
            color: lighten(gray, 10);
          }
        }

        .active:hover {
          border-top: 6px solid $primary;
        }
      }
    }
  }
}

// ^^ Slider

.pricebox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  height: 50px;
  width: 50px;
  color: white;
  padding: 4px;
}

// Slider Items

.slider {
  #carouselExampleIndicators {
    .carousel-inner {
      .carousel-item {
        .container {
          width: 100%;
          justify-content: center;
          align-items: center;

          .slideInfo {
            width: 25%;

            .pricebox {
              margin-bottom: 10px;
            }

            h4 {
              font-size: 200%;
              margin-bottom: 10px;
            }

            ul {
              margin-top: 10px;
              display: flex;

              li {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 110%;

                background-color: white;
                margin: 5px;
                height: 35px;
                width: 35px;

                a {
                  color: $gray;
                  transition: 0.3s;
                }
              }

              li:hover {
                a {
                  color: $primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

// ^^ Slider Items

// Showcase Section

.showcase {
  display: flex;
  background-color: $secondary;
  justify-content: center;
  .container {
    position: relative;
    align-items: center;
    height: 220px;
    .showcaseImage {
      display: flex;
      justify-content: center;
      width: 50%;
      height: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }

    .showcaseInfo {
      position: absolute;
      background-color: transparent;
      left: 50%;
      width: 50%;

      .row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .pricebox {
        padding: 10px;
        margin-bottom: 10px;
      }

      h4 {
        width: 50%;
        font-size: 200%;
        margin-left: 30px;
      }

      p {
        font-size: 120%;
      }
    }
  }
}

// ^^ Showcase Section

// Options Section (Products)

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $black;

  .container {
    justify-content: space-between;
    align-items: center;
    color: white;

    li {
      flex: 1;
      justify-content: center;
      padding: 10px;
      width: 25%;

      h3 {
        font-size: 120%;
      }
      .optionButton {
        cursor: pointer;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px;
        background-color: darken($black, 10);
        font-size: 120%;
        color: white;

        h4 {
          font-size: 90%;
          font-weight: lighter;
        }

        i {
          margin-left: 5px;
        }
      }
    }
  }
}

// ^^ Options

// Offer Section

.offers {
  display: flex;
  justify-content: center;
  background-color: $black;

  .container {
    ul {
      width: 100%;
      display: flex;
      justify-content: space-around;

      li {
        margin: 20px;
        width: 30%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
        }

        a {
          position: absolute;

          h4 {
            background-color: $dark-gray;
            color: $white;
            padding: 20px;
            font-weight: lighter;
            font-size: 125%;
          }

          h4:hover {
            background-color: lighten($dark-gray, 10);
          }
        }
      }
    }
  }
}

// ^^ Offer Section

// Products Section

.products {
  display: flex;
  justify-content: center;
  background-color: $secondary;

  .container {
    flex-direction: column;

    // Row margin

    ul {
      margin-top: 20px;
      margin-bottom: 5px;
    }

    // Row Set up
    .row {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }

    // Set up for elements that only have text

    .title {
      justify-content: space-between;

      h3 {
        font-size: 130%;
      }

      a {
        color: $gray;
        padding: 5px;
        border: 1px solid $gray;
        transition: 0.3s;
      }

      a:hover {
        background-color: $black;
        border: 0;
        color: $white;
      }
    }

    .filter {
      li {
        display: flex;
        align-items: center;
        .breadcrumb {
          margin-left: 10px;
          li {
            a {
              border: 0;
            }
          }
        }

        div {
          display: flex;

          button {
            cursor: pointer;
            border: 1px solid $gray;
            padding: 5px;
            margin: 0px 5px;
            transition: 0.3s;
          }

          button:hover {
            background-color: $black;
            color: $white;
          }

          .active {
            background-color: $black;
            color: $white;
          }
        }

        input {
          background-color: transparent;
          color: $gray;
          padding: 3px;
          border: 1px solid $gray;
          text-align: right;
        }
      }
    }

    // Product row

    .product {
      flex-wrap: wrap;

      // One product

      li {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: $white;
        height: 250px;
        margin-bottom: 10px;
        width: 32%;

        // Badge Set up

        .badge {
          font-size: 90%;
          position: absolute;
          display: flex;
          text-align: center;
          align-items: center;
          width: 15%;
          height: 15%;
          left: 70%;
          padding: 5%;
          color: $white;
        }

        .sale {
          background-color: $black;
        }

        .stock {
          background-color: orange;
        }

        // ^^ Badge

        // Product Content

        .image {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 80%;

          img {
            max-width: 100%;
            max-height: 100%;
          }
        }

        // Bottom Product Information

        .productInfo {
          border-top: 1px solid $gray;
          display: flex;
          height: 20%;
          align-items: center;

          .pricebox {
            margin-left: 10%;
            align-self: flex-end;
            height: 125%;
            width: 60px;
          }

          //Product Title

          h3 {
            margin-left: 10px;
            display: flex;
          }

          .description {
            display: none;
          }

          // Hover links

          ul {
            margin-left: 10%;
            margin-top: 0;
            margin-bottom: 0;
            display: none;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 50%;

            li {
              height: auto;
              background-color: transparent;
              margin-bottom: 0;

              a {
                display: flex;
                justify-content: center;
                color: $gray;
              }
            }

            li:hover {
              a {
                color: $primary;
              }
            }
          }
        }

        .productInfo:hover {
          h3 {
            display: none;
          }

          ul {
            display: flex;
          }
        }
      }
    }

    .column {
      flex-wrap: wrap;
      flex-direction: column;

      li {
        height: 175px;
        width: 100%;
        justify-content: left;
        margin-bottom: 10px;
        flex-direction: row;
        align-items: center;

        .image {
          width: 30%;
        }

        .productInfo {
          height: 100%;
          width: 70%;
          justify-content: space-between;
          align-items: center;
          border-top: 0;

          .pricebox {
            position: relative;
            align-self: center;
            margin-left: 0;
            width: 60px;
            height: 60px;
          }

          div {
            margin-left: 20px;

            h3 {
              margin-bottom: 10px;
            }
          }

          ul {
            width: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;

            li {
              display: flex;
              justify-content: center;
              margin: 10px;
            }
          }
        }

        .productInfo:hover {
          h3 {
            display: flex;
          }
        }
      }
    }

    .widgets {
      background: transparent;
      margin-bottom: 30px;

      li {
        background-color: darken($secondary, 10);
      }

      // Different sizes

      .one-four {
        width: 23%;
      }

      .two-four {
        width: 40%;
      }

      //Text setup

      h2 {
        font-size: 150%;
      }

      p {
        font-size: 110%;

        a {
          color: $black;
        }

        a:hover {
          color: $primary;
        }
      }

      h2,
      p {
        margin: 20px;
      }

      // Blog Posts

      .blogpost {
        display: flex;
        align-items: center;
        height: 80px;
        margin: 10px;
        margin-left: 20px;
        margin-bottom: 5px;
        margin-top: 0px;

        .datebox {
          margin-right: 5px;
          padding: 15px;
          width: 30px;
          background-color: $primary;
          text-align: center;
          color: $white;

          h6 {
            font-weight: normal;
          }
        }

        h4 {
          font-size: 120%;
          color: $black;
        }

        p {
          margin: 0;
          color: $black;
        }
      }
    }

    .divider {
      border-top: 2px solid $gray;
      margin: 40px 0px;
    }
  }
}

// ^^ Products Section

// FOOTER SECTIONS BELOW (3)

// FOOTER WIDGETS (1/3)

.widgets {
  font-size: 90%;
  display: flex;
  justify-content: center;
  background-color: $black;

  .container {
    padding-top: 50px;
    padding-bottom: 20px;
    justify-content: space-between;

    .widget {
      width: 30%;
      color: $gray;

      h4 {
        color: darken($gray, 15);
        margin-bottom: 30px;
        font-size: 150%;
      }

      .tweet {
        height: 60px;
        margin-bottom: 10px;

        .highlight {
          color: $primary;
        }

        .date {
          margin-top: 5px;
        }
      }
    }

    .flickr {
      flex-wrap: wrap;
      justify-content: center;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
          cursor: pointer;
          width: 32%;
          height: 20%;
          background-color: red;
          margin-bottom: 10px;
          padding: 0;

          img {
            width: 100%;
            height: 70px;
          }
        }
      }
    }
  }
}

// ^^ Footer Widgets

// Footer Contacts (2/3)

.contacts {
  display: flex;
  justify-content: center;
  background-color: $black;
  padding-top: 10px;
  padding-bottom: 10px;

  .container {
    ul {
      width: 100%;
      display: flex;
      justify-content: space-between;

      li {
        display: flex;
        align-items: center;
      }

      .social {
        li {
          background-color: $dark-gray;
          margin-right: 5px;
          width: 35px;
          height: 35px;

          a {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            color: $gray;
            font-size: 18px;
          }
        }

        li:hover {
          background-color: lighten($dark-gray, 20);
        }

        li:last-child {
          margin-right: 0;
        }
      }

      form {
        display: flex;
        flex-direction: row;
        align-items: stretch;

        input {
          padding: 10px;
          border: 0;
          background-color: $dark-gray;
          color: $white;
        }

        button {
          cursor: pointer;
          height: auto;
          padding-left: 10px;
          padding-right: 10px;
          background-color: $gray;

          color: $dark-gray;
          font-size: 22px;
        }
      }
    }
  }
}

// ^^ Footer Contacts

// FOOTER (3/3)

footer {
  display: flex;
  justify-content: center;
  background-color: $dark-gray;
  color: $gray;
  padding: 5px;

  // Setting up the container we'll be using for the menus
  .container {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;

    ul {
      display: flex;
      justify-content: space-between;

      li {
        align-self: center;
        h3 {
          font-size: 90%;
          font-weight: lighter;
        }
      }
    }
  }
}

// ^^ FOOTER

// ^^ FOOTER SECTIONS
