// Couple of style adjustments to the bootstrap scss

// Dropdown changes

.dropdown-item:hover {
  width: auto;
}

.dropdown-menu {
  width: auto;
  padding: 0;
  background-color: $dark-gray;

  input {
    height: 30px;
    width: auto;
    background-color: $dark-gray;
  }

  a {
    display: flex;
    width: auto;
    height: 50px;
    align-items: center;
    background-color: $dark-gray;
    padding-left: 20px;
    color: $gray;
  }

  a:hover {
    background-color: $gray;
  }

  a:first-child {
    border-top: 1px solid $gray;
  }
}

.dropdown-item:first-child {
  border: 0 !important;
}

.dropdown-menu-right {
  margin-left: 100px;
}

.dropdown-toggle::after {
  display: none;
}

// Breadcrumb changes

.breadcrumb {
  margin-bottom: 0;
  padding: 0;
  background-color: transparent;

  li {
    a {
      color: $gray;
      font-size: 90%;
    }
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-divider {
  margin: 0;
  border: 0;
}

.form-group {
  margin-top: 10px;
  margin-left: 10%;
  label {
    color: $gray;
  }

  input {
    border: 0;
    background-color: lighten($dark-gray, 10);
    padding-left: 5px;
  }
}

.form-check {
  display: flex;
  align-items: center;

  label {
    color: $gray;
  }
}

.login {
  a {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
  }
}

.modal-content {
  width: auto;
  height: auto;
  background-color: transparent;

  .modal-body {
    padding: 0;

    img {
      width: auto !important;
      max-width: 600px;
      height: auto;
    }
  }
}
