@media only screen and (max-width: 767px) {
  // CUSTOM BOOTSTRAP CHANGES

  .dropdown-menu {
    transform: translate3d(-100px, 45px, 0px) !important;
    text-align: center;

    .form-group {
      margin-left: 0;
    }

    input {
      display: flex;
    }

    a {
      margin: 10px;
      height: 20px;
    }
  }

  .modal-content {
    .modal-body {
      img {
        max-width: 100%;
      }
    }
  }

  // Changing the font size for readability
  body {
    font-size: 75%;
  }

  // Container Changes

  .container {
    width: 80%;
  }

  //Header Mobile Changes
  header {
    .hide-on-mobile {
      display: none;
    }

    ul {
      input {
        display: none;
      }
      a {
        padding: 15px 5px;
      }
    }
  }

  //Header
  header {
    #loginDropdown {
      padding: 20px 5px;
    }
  }

  //Nav Mobile Changes
  nav {
    .container {
      .display-on-mobile {
        display: flex;

        li:last-child {
          border-right: 0;
        }
      }

      .hide-on-mobile {
        display: none;
      }

      ul {
        // In order to have everything aligned properly:
        // We know that each menu has exactly 2 elements that should be the same size,
        // so we can easly split it up into 2 equal uls each with 2 equal lis using flexbox

        flex: 1;

        li {
          flex: 1;
          justify-content: center;
        }

        a {
          padding: 15px 5px;
        }
      }
    }
  }

  // Slider

  .slider {
    #carouselExampleIndicators {
      .carousel-inner {
        .carousel-item {
          .container {
            width: 100%;
            justify-content: center;
            align-items: center;

            .slideInfo,
            img {
              position: relative;
            }

            .slideInfo {
              left: 25%;
              position: absolute;
              width: 60%;
            }
          }
        }
      }

      .slider-options {
        .container {
          width: 100%;
        }
      }
    }
  }

  // ^^ Slider

  // Showcase Section (Products)

  .showcase {
    .container {
      width: 100%;
      justify-content: center;
      .showcaseImage {
        width: 60%;
      }

      .showcaseInfo {
        left: 25%;
        width: 60%;
      }
    }
  }

  // ^^ Showcase Section (Products)

  // Option Section (Products)

  .options {
    .container {
      width: 90%;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;

      li {
        width: 60%;
      }

      .title {
        display: flex;
        justify-content: center;
        margin: 5px 0;
      }

      .hide-on-mobile {
        display: none;
      }
    }
  }

  // ^^ Option Section

  // Offer Section

  .offers {
    .container {
      width: 100%;
      ul {
        width: 100%;
        flex-direction: row;

        li {
          width: 50%;
          background-color: red;
          height: 20vh;
          margin: 0;
        }

        .hide-on-mobile {
          display: none;
        }
      }
    }
  }

  // ^^ Offer Section

  // Products Section

  .products {
    .container {
      .row {
        flex-direction: column;
        align-items: center;
        li {
          width: 60%;
          margin-bottom: 25px;
        }
      }

      .widgets {
        .hide-on-mobile {
          display: none;
        }

        .two-four {
          width: 100%;

          .blogpost {
            height: 100px;
          }
        }
      }

      .title {
        flex-direction: row;

        li {
          width: auto;

          .breadcrumb {
            li {
              margin-bottom: 0;
            }
          }
        }
      }

      .column {
        li {
          width: 100%;
        }
      }
    }

    .hide-on-mobile {
      display: none;
    }
  }

  // ^^ Products Section

  // FOOTER SECTIONS BELOW (3)

  // FOOTER WIDGETS (1/3)

  .widgets {
    .container {
      justify-content: space-between;

      .widget {
        width: 45%;
      }

      .hide-on-mobile {
        display: none;
      }

      .twitter {
        display: none;
      }

      .flickr {
        width: 100% !important;

        ul {
          width: 100%;

          button {
            img {
              height: 110px;
            }
          }
        }
        img {
          // I have used special media querys just for these photos so they get arranged perfectly right when they need to, as this media query is too broad
          // You can find them at the end of this file
        }
      }
    }
  }

  // ^^ FOOTER WIDGETS

  // FOOTER CONTACT (2/3)

  .contacts {
    .container {
      ul {
        flex-direction: column;

        li {
          justify-content: center;

          ul {
            margin-top: 30px;
            flex-direction: row;
            justify-content: center;
          }
        }
      }
    }
  }

  // ^^ FOOTER CONTACT

  // FOOTER (3/3)

  footer {
    .container {
      width: 90%;
      ul {
        flex-direction: column;

        li:last-child {
          display: none;
        }
      }
    }
  }

  // ^^ FOOTER

  // ^^ FOOTER SECTIONS
}

// Extra Media Querys

@media only screen and (max-width: 420px) {
  .widgets {
    .container {
      .flickr {
        ul {
          button {
            width: 49%;
          }
        }
      }
    }
  }

  // Showcase Section (Products)

  .showcase {
    .container {
      width: 75%;
      .showcaseImage {
        width: 100%;
      }

      .showcaseInfo {
        left: 25%;
        width: 75%;
      }
    }
  }

  // ^^ Showcase Section (Products)

  // Offer Section

  .offers {
    .container {
      ul {
        li {
          height: 125px;

          a {
            h4 {
              font-size: 90%;
              padding: 9px;
            }
          }
        }
      }
    }
  }

  // ^^ Offer Section

  // Products Section

  .products {
    .container {
      .row {
        li {
          width: 80%;
          margin-bottom: 10px;
        }
      }

      .title {
        li {
          width: auto;
        }

        h3 {
          font-size: 100%;
        }
      }

      .product {
        li {
          .productInfo {
            .pricebox {
              width: 25%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  // ^^ Products Section
}

@media only screen and (max-width: 370px) {
  .widgets {
    .container {
      .widget {
        width: 49%;
      }
      .flickr {
        ul {
          button {
            width: 45%;

            img {
              height: 90px;
            }
          }
        }
      }
    }
  }

  // Showcase Section (Products)

  .showcase {
    .container {
      width: 100%;
      .showcaseImage {
        width: 100%;
      }

      .showcaseInfo {
        left: 15%;
        width: 75%;
      }
    }
  }

  // ^^ Showcase Section (Products)

  // Options (Products)

  .options {
    .container {
      width: 100%;
      flex-direction: column;
    }
  }

  // ^^ Options (Products
}

// ^^ Extra Media Querys
