@media only screen and (min-width: 768px) and (max-width: 960px) {
  // Changing the font size for readability
  body {
    font-size: 80%;
  }

  // Container Changes

  .container {
    width: 75%;
  }

  //Nav Tablet Changes
  nav {
    .container {
      ul {
        li {
          justify-content: center;
        }

        a {
          padding: 15px 5px;
        }
      }

      .tablet-change {
        // In order to align things properly:
        // We know that we have 2 uls of different sizes, one with 6 elements and one with 2
        // Total of 8 means that the first one is 75% of a whole and the other 25%
        // We split the ULs accordingly using flexbox and then equally distribute the remaining space between LIs

        flex: 0.75;

        li {
          flex: 1;
        }

        li:last-child {
          border-right: 0;
        }
      }

      .right {
        flex: 0.25;

        li {
          flex: 1;
        }
      }
    }
  }

  // Slider

  .slider {
    #carouselExampleIndicators {
      .carousel-inner {
        .carousel-item {
          .container {
            width: 100%;
            justify-content: center;
            align-items: center;

            .slideInfo,
            img {
              position: relative;
            }

            .slideInfo {
              transform: translateX(-75%);
            }

            img {
              transform: translateX(10%);
            }
          }
        }
      }
    }
  }

  // ^^ Slider

  // Showcase Section (Products)

  .showcase {
    .container {
      .showcaseImage {
        width: 60%;
      }

      .showcaseInfo {
        left: 40%;
      }
    }
  }

  // ^^ Showcase Section (Products)

  // Options Section (Products)

  .options {
    .container {
      .buttons-item {
        .buttons {
          width: 75%;

          li {
            width: 40%;
          }
        }
      }
    }
  }

  // ^^ Options Section

  // Offer Section

  .offers {
    .container {
      ul {
        li {
          height: 15vh;
        }
      }
    }
  }

  // ^^ Offer Section

  // Products Section

  .products {
    .container {
      .row {
        li {
          .badge {
            width: 20%;
          }

          .productInfo {
            .pricebox {
              width: 25%;
            }
          }
        }
      }

      .widgets {
        .hide-on-tablet {
          display: none;
        }

        .one-four {
          width: 31%;
        }

        .two-four {
          width: 60%;
        }
      }
    }
  }

  // ^^ Products Section

  // Footer Widgets

  .widgets {
    .container {
      justify-content: space-between;

      .widget {
        width: 40%;
      }
    }

    .twitter {
      display: none;
    }
  }

  .modal {
    width: 87.5%;
  }
}
